.main_page {
  background-color: #000;
  height: 500px;
  display: flex;
  align-items: center;
  background-image: url('/mayon-bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.work_with_us {
  background-color: #0d6efd;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 8px 8px;
  display: flex;
  align-items: center;
}
.work_with_us i {
  padding-left: 5px;
  
}

.heroImgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.servicesDiv span {
  background-color: #fff;
  width: 100px;
  height: 2px;
}
.service_emoji i {
  background-color: #0d6efd;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 30px;
}
.service_box {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  padding: 15px 12px;
  border-radius: 8px;
  width: 100%;
}
.about_text {
  -webkit-text-stroke: 1px #0d6efd;
  color: transparent
}
.grid_about {
  position: relative;
}
.grid_abou {
  position: relative;
}
.aboutCont {
  color: #fff;
  background-color: #2e2e2e;
  padding: 20px;
  border: 1px solid #0d6efd;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
}
.about_sp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.about_sp span {
  width: 40px;
  height: 2px;
  background-color: #fff;
}
.about_sp h3 {
  color: #fff;
  padding: 0px 5px;
  text-align: center;
}
.happy {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.more_about {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 80px;
}
.more_about h4 {
  padding: 20px;
  border-radius: 7px;
}
.discovery {
  color: #fff;
  background-color: #2e2e2e;
  padding: 15px;
  border-radius: 8px;
}
.work_container {
  background-color: #2e2e2e;
  padding: 15px 15px 10px 15px;
  border-radius: 8px;
  position: relative;
  overflow-x: hidden;
}
.work_border:hover {
  border-bottom: 1px solid #0d6efd;
}
.work_text {
  color: #fff;
  padding-top: 20px;
}
.work_text button {
  background-color: #0d6efd;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
}
.btn_hover:hover {
  background-color: blue;
}
.ease_imgDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ease_img {
  width: 250px;
  height: 250px;
}
.work_border {
  border-bottom: 1px solid #fff;
  padding: 5px 15px;
}
.mayonImgDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mayonImg {
  width: 250px;
  height: 300px;
  /* width: 100%;
  height: 100%; */
  border-radius: 8px;
}
.meet {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
}
.meet:hover {
  background-color: blue;
}
.form {
  padding-top: 25px;
}
.form input {
  padding: 10px 15px;
  background-color: grey;
  color: #fff;
  outline: none;
  margin-bottom: 20px;
  border-radius: 1px;
}
.textarea {
  padding: 10px 15px;
  background-color: grey;
  color: #fff;
  outline: none;
  margin-bottom: 20px;
  border-radius: 5px;
}
.textarea::placeholder {
  color: #fff;
}
.form input::placeholder {
  color: white
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px ;
}
.mayon_f_logo {
  display: flex;
}
.mayon_m {
  color: #0d6efd;
  font-size: 32px;
  padding-right: 3px;
  font-weight: bold;
}
.Tech {
  text-align: justify;
}
.mayon_w {
  color: #0d6efd;
  letter-spacing: 1px;
  padding-top: 2px;
  font-weight: bold;
}
.innovation {
  margin-top: -10px;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: -0.1px;
}
.shadow_blue {
  display: flex;
  position: absolute;
}
.shadow_blue span {
  height: 40px;
  width: 40px;
  background-color: rgba(13, 110, 253, 0.2);
  box-shadow: 0 0 50px #0d6efd;
  position: absolute;
  top: 20px;
  border-radius: 50%;
}
.shadow_blue_music {
  display: flex;
  position: absolute;

}
.shadow_blue_music span {
  height: 40px;
  width: 40px;
  background-color: rgba(13, 110, 253, 0.2);
  box-shadow: 0 0 50px #0d6efd;
  position: absolute;
  top: 20px;
  border-radius: 50%;
  z-index: 3;
}
.shadow_blue_question {
  display: flex;
  position: absolute;

}
.shadow_blue_question span {
  height: 40px;
  width: 40px;
  background-color: rgba(13, 110, 253, 0.2);
  box-shadow: 0 0 50px #0d6efd;
  position: absolute;
  top: 20px;
  border-radius: 50%;
  z-index: 3;
}
.shadow_blue_client {
  display: flex;
  position: absolute;
}
.shadow_blue_client span {
  height: 40px;
  width: 40px;
  background-color: rgba(13, 110, 253, 0.2);
  box-shadow: 0 0 50px #0d6efd;
  position: absolute;
  top: 20px;
  left: 50px;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: 750px) {
  .grid_service {
    color: #fff;
    display: grid;
    grid-template-columns: 100%;
  }
  .service_box {
    margin-bottom: 15px;
  }
  .grid_about {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  color: #fff;
  margin-top: 15px;
}
.grid_more_about {
  display: grid;
  grid-template-columns: 100%;
  gap: 25px;
}
.ease_img {
  margin-top: 40px;
}
.work_border {
  padding-top: 20px;
}
.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px 10px
}
.grid_footer {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.heroImg {
  margin-top: 15px;
  width: 50%;
  height: 50%;
}
}

@media (min-width: 750px) {
  .grid_service {
    color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
  }
  .grid_about {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .aboutCont_third {
    width: 50%;
  }
  .happy {
    display: flex;
    justify-content: space-evenly;
  }
  .grid_more_about {
    padding: 0px 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .work_container {
    padding: 0px ;
  }
  .work_border {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .servicesDiv {
    padding-top: 30px;
  }
  .grid_passport {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .grid_question {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .grid_footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 40px 0px 0px 0px;
  }
  .work_with_us {
    margin-top: 20px;
  }
  .heroImg {
  width: 100%;
  height: 70%;
  margin-top: 60px;
}
.mayon_w {
  color: #0d6efd;
  padding-top: 2px;
  font-weight: bold;
  width: 90px;
}
.innovation {
  margin-top: -10px;
  font-size: 6px;
  font-weight: bold;
  margin-left: 2px;
  letter-spacing: 0.2px;
}
}
